.App {
	margin: 0 auto;
	padding: 1%;
}

.allList,
.renderedList {
	display: flex;
	margin: 20px 0;
}

.il {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

.the-form {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
